<h2>Sales for <%= @postcode %> (<%= @total_sales %> properties sold)</h2>

<%= content_tag :canvas, "", id: "sales_chart", height: "450", width: "1280", data: {sales: @sales, ticks: @ticks} %>


<% @sales_by_month.each do |date, sales| %>

  <h3><%= date %> Average: £<%= sales.sum {|s| s.amount }/sales.count %></h3>

  <table class="table">
    <thead>
      <tr>
        <th>Postcode</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Type</th>
      </tr>
    </thead>

    <% sales.each do |sale| %>
    <tr>
      <td><%= sale.postcode %></td>
      <td>£<%= sale.amount %></td>
      <td><%= sale.date %></td>
      <td><%= sale.property_type %></td>
    </tr>
    <% end %>
  </table>
<% end %>
