<p>
  <%= form_tag sales_path, method: :get do %>
    <%= "Postcode:" %>
    <%= text_field_tag :search_postcode, params[:search_postcode] || "N1" %>


    <%= content_tag :div, class: "search-panel" do %>
      <%= "Flats:" %>
      <%= check_box_tag :toggle_flats, params[:toggle_flats], params[:toggle_flats] %>

      <%= "Detached:" %>
      <%= check_box_tag :toggle_detached, params[:toggle_detached], params[:toggle_detached] %>

      <%= "Semi-Detached:" %>
      <%= check_box_tag :toggle_semi_detached, params[:toggle_semi_detached], params[:toggle_semi_detached] %>

      <%= "Terraced:" %>
      <%= check_box_tag :toggle_terraced, params[:toggle_terraced], params[:toggle_terraced] %>

      <%= "Other:" %>
      <%= check_box_tag :toggle_terraced, params[:toggle_terraced], params[:toggle_terraced] %>
    <% end %>

    <%= content_tag :div, class: "search-panel" do %>
      <%= "Frequency:" %> 
      <%= select_tag :select_frequency, options_for_select(["Weekly", "Monthly", "Yearly"].collect{ |u| [u, u] }, "Monthly")%>
    <% end %>

    <%= submit_tag "Search", name: nil %>
  <% end %>
</p>

<h2>Sales for <%= postcodes.join(", ") %> (<%= @total_sales %> properties sold)</h2>

<%= content_tag :canvas, "", id: "sales_chart", height: "450", width: "1280", data: {sales: @sales, ticks: @ticks} %>
