<p>
  <%= render partial: "search_form", locals: { form_url: "/sales", time_group_lookup: false } %>
</p>

<h2>Sales for <%= postcodes.join(", ") %> (<%= @total_sales %> properties sold)</h2>

<%= will_paginate @sales %>

<table class="table">
<thead>
  <tr>
    <th>Date</th>
    <th>Street</th>
    <th>Postcode</th>
    <th>Town or City</th>
    <th>Amount</th>
  </tr>
</thead>

<% @sales.each do |sale| %>
<tr>
  <td><%= sale.date.strftime("%d/%m/%Y") %></td>
  <td><%= sale.street.humanize.titleize %></td>
  <td><%= sale.postcode %></td>
  <td><%= sale.town_city.humanize.titleize %></td>
  <td><%= "£#{sale.amount}" %></td>
</tr>
<% end %>
</table>
